body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}


.container {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 32px;
    padding: 30px;
    width: 320px;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    gap: 16px;
    height: 200px;
}

.headerText{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(45, 100, 133);
  }

input{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 32px;
    height: 32px;
    width: 95%;
}

button{
    background-color: rgba(45, 99, 133, 0.2);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 32px;
    height: 32px;
    box-shadow: 0 0 1px rgba(0,0,0,.05), 5px 5px 1px rgba(0,0,0,.1);
}